/* Just to add the same box sizing to every dom element */
* {
    box-sizing: inherit;
}

/* Add some defaults */
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Black Han Sans', sans-serif;
    background: steelblue;
}

/* Remove ul defaults */
ul {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

/* Remove those strange borders from headers */
h1, h2, h3, h4, h5, h6 {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#main-menu-screen {
    background-color: slategray;
    background-image: url("../images/sunset.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.title {
    top: 80px;
    position: relative;
    margin: auto;
    font-size: 100px;
    color: white;
    text-align: center;
}

.selection-area {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#level-list-container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 300px;
    margin-bottom: 25px;
}

#level-list {
    width: 300px;
    margin: auto;
}
.menu-button {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    color: whitesmoke;
    background-color: rgb(250, 40, 40);
    font-size: 30px;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
}
.menu-button:hover {
    background-color: whitesmoke;
    color: rgb(250, 40, 40);
}

/* Represents a centered flex container */
.flex-container {
    display: flex;
    justify-content: center;
}

/* Represents a flex container as a row */
.flex-row {
    flex-flow: wrap row;
}

.flex-column {
    flex-flow: column;
}
/* Flex item, every child has equal spacing by default */
.flex-item {
    flex-grow: 1;
}

/* Flex item in center should take three times the space of its siblings */
.flex-item-center {
    flex-grow: 3;
}

.game-area-contatiner {
    margin: auto;
    border: snow dashed 5px;
}

/* Constraint on the dimensions of the level area */
.game-area {
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
    background-image: url("../images/sunset.png");
    background-size: 100%;
}

.game-area-ground {

}

/* Level title */
#level-name {
    top: 0px;
    left: 0px;
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 30px;
    background-color: slategray;
    color: whitesmoke;
    text-align: center;
    line-height: 50px;
    vertical-align: auto;
}

/* Nav Bar Styles */
.nav-bar {
    top: 50px;
    left: 0px;
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: slategray;
}

.nav-bar-container {
    width: 90%;
    height: 70px;
    color: whitesmoke;
    font-size: 28px; 
    text-align: center; 
}

.nav-bar-header {
    width: 100%;
    height: 50%;
    background-color: rgb(110, 110, 110); 
}

.nav-bar-stats {
    width: 100%;
    height: 50%;
    background-color: rgb(175, 175, 175);
}

.nav-bar-button {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    color: whitesmoke;
    background-color: rgb(250, 40, 40);
    font-size: 30px;
    text-align: center;
    width: 150px;
    height: 70px;
    line-height: 70px;
    vertical-align: auto;
}

.nav-bar-button:hover {
    background-color: whitesmoke;
    color: rgb(250, 40, 40);
}

.game-over-screen {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/sunset.png");
    background-size: cover;
}

.game-over-message {
    top: 80px;
    position: relative;
    margin: auto;
    font-size: 100px;
    color: white;
    text-align: center;
}


/* Bird's animation based on sprite sheet size */
/* @keyframes play {
    from { background-position:    0px; }
      to { background-position: -400px; }
 } */

/* Pre defined styles for an element inside game area */
.game-area-item {
    position: absolute;
}

/* Predefined styles for birds */
.bird {
    width: 100px;
    height: 100px;
    background-image: url("../images/bird.png");
    background-size: contain;
}

/* Predefined styles for collidables */
.collidable {
    background-size: 100% 100%;
}

/* Predefined styles for a cannon */
.cannon {
    width: 160px;
    height: 124px;
    background: url('../images/cannon.png') no-repeat;
    background-size: 100%;
}

/* Predefined styles for projectile */
.projectile {
    width: 100px;
    height: 100px;
    background-image: url("../images/pig.png");
}
